<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://drwsurvey.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>drwsurvey.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>drwsurvey</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$drwsurvey</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnectionEF" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:blbirox3yl.database.windows.net,1433;Initial Catalog=drwdata;User ID=drwadmin@blbirox3yl;Password=Drwpassword1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lefarge_FE_App.Models.DefaultConnectionEF, Lefarge_FE_App" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:blbirox3yl.database.windows.net,1433;Initial Catalog=drwdata;User ID=drwadmin@blbirox3yl;Password=Drwpassword1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=blbirox3yl.database.windows.net;Initial Catalog=drwdata;User ID=drwadmin;Password=Drwpassword1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=blbirox3yl.database.windows.net;initial catalog=drwdata;user id=drwadmin;password=Drwpassword1;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:blbirox3yl.database.windows.net,1433;Initial Catalog=drwdata;User ID=drwadmin@blbirox3yl;Password=Drwpassword1</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnectionEF-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.drwdata.csdl|res://*/Models.drwdata.ssdl|res://*/Models.drwdata.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:blbirox3yl.database.windows.net,1433;Initial Catalog=drwdata;User ID=drwadmin@blbirox3yl;Password=Drwpassword1"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>