.table-striped > tbody > tr:nth-child(odd) > td{
  background-color: #01DC8A;
  font-family:'Times New Roman';
     font-size:20px;
     text-shadow:none;
     font-weight: 700;
}
.table-striped > tbody > tr:nth-child(even) > td
 {
  background-color: #01B473;
  font-family:'Times New Roman';
     font-size:20px;
     text-shadow:none;
     font-weight: 700;
}
.table-striped > tbody > tr:nth-child(odd) > th,
.table-striped > tbody > tr:nth-child(even) > th{
     background-color: lightgray;
     font-family:'Times New Roman';
     font-size:22px;
     color: black;
     font-weight: 700;
     text-shadow:none;
     border-width:0px;
     
}
.table-striped {
}
.fixed-div{
    position: fixed;
    bottom: 1em;
    right: 1em;
  
}
.ui-icon{
    vertical-align:top;
}

.ui-icon-cameraButton {
    background-image: url(images/captureImage.png);
    
    height: 60px;
    width: 65px;
    

}
.button{
    background-size: 75px;
    font-size: 5px;
    background-position: top left;
}
.ui-btn-text{
    font-size:20px;
    float:right;
}
.hiddenUpload{
  display:none;
}